@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap');

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffcf09;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffd940;
}

* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    color: rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

*>button {
    border: 1px solid black;
}

*> input{
    outline: none;
}

#navigation {
    float: left;
    display: table;
    width: 29.9%;
    border: 0.1vh solid black;
    height: 100vh;
    background-color: rgb(25, 25, 25);
}

#profile {
    width: 28vw;
    margin: auto;
    margin-top: 2.5vh;
    height: 25vh;
    padding: 0px;
    border: solid #ffcf09 1px;
}

#chatrooms {
    width: 28vw;
    margin: auto;
    margin-top: 2.5vh;
    height: 33vh;
    padding: 0px;
    border: solid #ffcf09 1px;
    overflow-y: auto;
}

#friends {
    width: 28vw;
    margin: auto;
    height: 33vh;
    padding: 0px;
    border: solid #ffcf09 1px;
    overflow-y: auto;
}


#games {
    margin-top: 2.5vh;
    width: 28vw;
    margin: auto;
    height: 33vh;
    padding: 0px;
    border: solid #ffcf09 1px;
    overflow-y: auto;
}

.title {
    border-bottom: 1px solid black;
    font-family: 'Roboto Mono';
    font-weight: 500;
    width: 100%;
    margin: 0;
    padding: 5px;
    background-color: #ffcf09;
    font-size: 15px;
    color: grey;
    position: sticky;
    top: 0;
}

.icon {
    float: left;
    width: 25%;
    margin: 33px 0px;
}

.info {
    float: left;
    width: 65%;
    padding: 20px;
}

.icon>img {
    height: 100%;
    width: 100%;
}

.mainbtn {
    width: 95%;
    height: 50px;
    margin: 2.5% 2.5%;
    background-color: #ffcf09;
    color: rgb(25, 25, 25);
    font-weight: 600;
    font-size: 20px;
}

hr {
    border: 0;
    border-bottom: 1px solid #ffcf09;
    width: 90%;
    margin: auto;
}

.room {
    width: 95%;
    height: 35px;
    margin: 2.5% 2.5%;
    background-color: #ffcf09;
    color: rgb(25, 25, 25);
    font-weight: 600;
    font-size: 15px;
}

.invitefriend{
    color: rgb(25, 25, 25);
    font-weight: 600;
    font-size: 15px;
    float: left;
    height: 100%;
    width: 20%;
    background-color: #ff5709;
}

.friendbtn{
    color: rgb(25, 25, 25);
    font-weight: 600;
    font-size: 15px;
    width: 60%;
    float: left;
    height: 100%;
    background-color: rgb(70, 70, 70);
    color: #ffcf09;
}

.roombtn {
    color: rgb(25, 25, 25);
    font-weight: 600;
    font-size: 15px;
    width: 80%;
    float: left;
    height: 100%;
    background-color: rgb(70, 70, 70);
    color: #ffcf09;
}

.removeroom {
    color: rgb(25, 25, 25);
    font-weight: 600;
    font-size: 15px;
    float: left;
    height: 100%;
    width: 20%;
    background-color: #ff5709;
}

#board {
    float: left;
    width: 69.99%;
    background-color: rgb(40, 40, 40);
    height: 100vh;
}

header {
    height: 5%;
    width: 100%;
    text-align: center;
}

main {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    height: 90%;
    width: 100%;
}

#postspace {
    overflow-y: visible;
    height: 100%;
    width: 100%;
}

footer {
    height: 5%;
    width: 100%;
}

#createPost {
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #ffcf09;
    font-size: 22px;
    font-weight: 500;
    border: 1px solid #ffcf09;
    outline: none;
}

.post {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    max-height: max-content;
    background-color: rgb(30, 30, 30);
    border: 2px solid rgb(10, 10, 10);
}

.post_heading {
    background-color: rgb(20, 20, 20);
    border-bottom: 2px solid rgb(10, 10, 10);
    padding: 5px;
}

.post_content {
    background-color: rgb(30, 30, 30);
    padding: 20px 8px;
}

.post_heading>h1 {
    color: rgb(220, 220, 220)
}

.post_heading>h2 {
    color: rgb(80, 80, 80);
    font-size: 12px;
    font-weight: 600;
}

.post_content>p {
    font-weight: 500;
}

.post_comments {
    background-color: rgb(20, 20, 20);
    border-top: 1px solid rgb(10, 10, 10);
    padding: 5px;
    width: 100%;
}

.post_comments>h3 {
    text-align: center;
    color: rgb(80, 80, 80);
    font-weight: 500;
}

.post_comments>div{
    width: 80%;
    margin: auto;
}

.post_comments> div > button {
    width: 29%;
    float: left;
    font-size: 15px;
    background-color: rgb(20, 20, 20);
    border: 1px solid grey;
    border-left: none;
    padding: 5px;
}

.post_comments> div > input {
    padding: 5px;
    width: 66%;
    float: left;
    font-size: 15px;
    background-color: rgb(20, 20, 20);
    border: 1px solid grey;
}

.post_comment {
    padding: 5px;
    border-bottom: 1px solid rgb(50, 50, 50);
    margin-bottom: 10px;
}

.post_comment_heading>h1 {
    font-size: 14px;
    color: rgb(70, 70, 70);
    font-weight: 500;
}

.post_comment_content>p {
    font-size: 14px;
}

.popup {
    padding: 8px;
    position: absolute;
    width: 30%;
    height: 35%;
    left: 35%;
    top: 32.5%;
    background-color: rgba(30, 30, 30, 0.9);
    border: 1px solid #ffcf09;
    border-left-width: 5px;
    border-radius: 0px 25px 0px 0px;
}

.popup > h1 {
    text-align: center;
    border-bottom: 1px solid #ffcf09;
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 5px;
}

.info > textarea{
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: rgb(30,30,30);
    border-radius: 10px;
    resize: none;
    border: 1px solid rgb(50,50,50);
}

.popup > div{
    padding-top: 20px;
    margin: auto;
    width: 92%;
    height: 35px;
}

.popup > div > button {
    width: 50%;
    float: left;
    height: 100%;
    background-color: #ffcf09;
    color: rgb(30, 30, 30);
}

.popup > form {
    margin: auto;
    width: 95%;
    padding: 5px;
}

.popup > form > input {
    width: 100%;
    height: 30px;
    background-color: rgb(40, 40, 40);
    border: rgb(70, 70, 70) 1px solid;
    font-size: 20px;
    padding-left: 20px;
}

.info > button{
    padding: 2px;
    width: 100%;
    margin: auto;
    background-color: rgb(30,30,30);
    border: 1px solid rgb(50,50,50);
}

.popup > textarea{
    width: 90%;
    margin-top: 15px;
    margin-left: 3%;
    background-color: rgb(50,50,50);
    resize: none;
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
}

.info_pop{
    height: 100%;
    width: 100%;
    padding: 8px;
}

#popup_friend_profile_close{
    margin-left: 25%;
    width: 50%;
    background-color: #ffcf09;
    color: rgb(30, 30, 30);
    height: 35px;
    margin-top: 50px;
}

